*.4ct
*.4tc
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.css
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.haux
*.html
*.htoc
*.idv
*.idx
*.ilg
*.image.tex
*.ind
*.ist
*.lg
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.pdf
*.png
*.png
*.ps
*.synctex.gz
*.tmp
*.toc
*.xref
